@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  /* Prevents stretching that reveals the background */
}

/* Button Styles */
.nav-btn {
  padding: 10px 32px;
  border-radius: 100px;
  border: none;
  background-color: #1F2429;
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease;
  outline: none;
}

.nav-btn:hover {
  opacity: 0.8;
}

.nav-btn:active {
  transform: scale(0.98);
}

.text-btn {
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  transition: opacity 0.2s ease-in-out;
}

.text-btn:hover {
  opacity: 0.6;
}

.text-btn:active {
  opacity: 0.1;
}

.square-btn {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-btn:hover {
  transform: scale(1.05);
}

.square-btn:active {
  transform: scale(0.95);
}

.btn-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.circle-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

/* Card Styles */
.primary-card {
  width: 700px;
  border-radius: 48px;
  transition: all 0.3s ease;
}

.stack-card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: fit-content;
}

.stack-card-container .primary-card {
  grid-area: 1 / 1;
}

.stack-card-container .primary-card:nth-child(1) {
  z-index: 1;
}

.stack-card-container .primary-card:nth-child(2) {
  margin-top: 320px;
  z-index: 2;
}

/* Mobile Responsive - Under 700px */